# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go specific
/bin/
/vendor/

# Output directories
/dist/
/build/

# Go workspace file
go.work

# build file
pmp
.pmprc
prompt-my-project

# Added by Prompt My Project (PMP) - https://github.com/benoitpetit/prompt-my-project
pmp_output

# roadmap
ROADMAP*